@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'poppins';
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(116, 116, 116, 0.2);
}
.bx-menu{
    font-size: 50px;

}
section{
    padding: 0px 15%;
}
.hero{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.left-image-hero img{
    max-width: 480px;
    width: 100%;
}
.right-text-hero{
    flex-direction: column;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.right-text-hero a{
    padding: 8px 16px;
    background-color: green;
    
    color: white;
}
.right-text-hero h1{
    font-size: 60px;
    font-weight: 400;
}
.right-text-hero p{
    color: rgb(82, 82, 82);
}
.ex-btn{
    padding: 8px 15px;
    background-color: burlywood;
    border: none;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: .50s ease;
}
.ex-btn:hover{
    background-color: rgb(252, 217, 171);
}
.bottom-section-hero-container{
    margin-top: 100px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 20px;
}
.box{
    /* border: 1px solid red; */
    padding: 20px ;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .50s ease ;
}
.box-text{
    text-align: left;
}
.box-text h2{
    font-size: 18px;
}
.box-text p{
    font-size: 15px;
    color: grey;
}
.box:hover{
    box-shadow: 5px 8px 10px rgba(116, 116, 116, 0.2);
}
.horizontal-ruler{
    margin-top: 50px;
}
.horizontal-ruler hr{
    height: 2px;
    background-color: rgb(175, 175, 175);
    border: 0;
}
.menu{
    margin: 70px;
}
.menu-center-text{
    text-align: center;
}
.menu-center-text a{
    padding: 8px 15px;
    background-color: green;
    color: white;
}
.menu-center-text h3{
    margin-top: 30px;
    font-size: 30px;
}
.box img{
    max-width: 50px;
    width: 100%;
}
.food-image-three{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 20px;
    width: 100%;
}
.buy-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* border: 1px solid red; */
    gap: 10px;
    position: relative;
    box-shadow: 0px 0px 15px rgba(116, 116, 116, 0.2);
    border-radius: 10px;
}
.buy-box h2{
    font-size: 25px;
    font-weight: 600;
}
.buy-box a{
    background-color: green;
    color: #fff;
    width: 50%;
    padding: 10px 10px;
    text-align: center;
    margin-top: 20px;
    transition: .50s all ease;
}
.buy-box p{
    text-align: center;
    color: rgb(129, 129, 129);
}
.buy-box img{
    max-width: 150px;
    width: 100%;
}
.buy-box a:hover{
    transform: translateY(-8px);
}
.buy-box i{
    position: absolute;
    background-color: orange;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    /* border-top-left-radius: 10px; */
    border-bottom-left-radius: 10px;
    cursor: pointer;
    
}
footer{
    background-color: antiquewhite;
    padding: 40px;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.main-links ul a{
    color: gray;
}
.support-section input{
    padding: 5px 20px;
    margin-top: 5px;
}
.social-section ul{
    display: flex;
    gap: 5px;
}
.social-section ul i{
    font-size: 30px;
}
.social-section{
    margin-top: 15px;
}

@media (max-width:1572px) {
    header{
        padding: 20px 10%;
    }
    section{
        padding: 20px 10%;
    }
}
@media (max-width:1165px){
    header{
        padding: 20px 5%;
    }
    section{
        padding: 20px 5%;
    }
    .hero{
        gap: 2rem;
    }
}
@media (max-width:1100px){
    header{
        padding: 20px 2%;
    }
    section{
        padding: 20px 2%;
    }
}
@media (max-width:1009px){
    .hero{
        display: flex;
        flex-direction: column;

    }
    
    .right-text-hero p{
        width: 70%;
    }
}
@media (max-width:882px){
    header{
        padding: 20px 10px;
    }
    section{
        padding: 20px 10px;
    }
    .bottom-section-hero-container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;

    }
    .food-image-three{
        display: flex;
        flex-direction: column;
    }
    .right-text-hero{
        margin-top: 100px;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .menu{
        margin-top: 20px;
    }
    .navigate-section{
        /* display: flex;
        align-items: center;
        justify-content: space-between; */
    }
}
@media (max-width:522px){
    .left-image-hero img{
        max-width: 400px;
        width: 100%;
    }
    .navigate-section{
        /* display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: space-between; */
    }
}